{% extends "base.html"%}

{% block content%}
    {% if maths_tutors %}
     
        <h1>All the tutors</h1>
       {% for tutor in maths_tutors %}
        <div class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="{{ tutor.profile_pic.url }}" class="img-fluid rounded-start" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">{{tutor.full_name}}</h5>
                  <small><p class="card-text">Tutor in {{tutor.physical_address}}</p></small>  
                  <p>{{tutor.bio}}</p>    

                </div>
              </div>
            </div>
      </div> 
       {% endfor %}
          

    {% else %}
        <h1>No tutors</h1>
    {% endif %}



{% endblock %}