<!DOCTYPE html>
<html lang="en">
    <head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" >
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" 
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" 
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    </head>
    <body>

        <div class="container">
            <h1 class="mt-5 mb-5">Curent Applications</h1>
            {%for app in applications%}
            <table class="table table-hover">
                <thead>
                  <tr>
                    <th scope="col">Job Details</th>
                    <th scope="col">Date Applied</th>
                    <th scope="col">Pay Rate</th>
                    <th scope="col">Current Applications</th>
                  </tr>
                </thead>
                <tbody>               
                  <tr class="table-success">
                    <th scope="row">Gr {{app.grade}}, {{app.subject}}, {{app.physical_address}}</th>
                    <td>Date here</td>
                    <td>{{app.pay_rate}}</td>
                    <td>Number of applications here</td>
                  </tr>               
                </tbody>
              </table>
              {%endfor%}
        </div>

    
        
    </body>