{% extends "base.html" %}
{% load static %}

    {% block content %}
    <div class="container">
        <h1>Privacy Policy</h1>
        <p>
            <b>1. INTRODUCTION</b><br>
           In accordance with the Protection of Personal Information Act (POPI Act), we as GreatMindz Tutors Proprietary Limited understand and take seriously the
            importance of protecting your personal information as a customer or as a tutor, collected and processed by us through the use of our services.
            We are committed to ensuring that your privacy and personal information provided to us is protected if you use our website or you are our customer.
            Please note that the contents of this privacy policy may be changed at any time without prior notice and the latest changes will be found on our
            website www.greatmindztutors.co.za. Should there be any changes, these will be communicated to you as the customer or tutor via a notice on our
            website. Please note that if you do not agree to the terms of this policy, you must stop to use our services or visit our website.
        </p>
        <p>
            <b>2. PERSONAL INFORMATION</b><br>
            When using our website or communicating with us regarding our services, we may ask for your personal information which is
             information that may be used to identify you. Personal Information that may be collected from you includes 
             your name, surname, email address, physical address, learner's name, learner's school, identity number, contact details and photograph. 
        </p>
        <p>
            <b>6. DIRECT MARKETING</b><br>
           We may process your Personal Information to contact you to provide you with information regarding our Platform and Services 
           that may be of interest to you. Where we provide Services to you (where you are a customer of ours), we may send information to 
           you regarding our Services and other information that may be of interest to you, using the contact details that you have provided 
           to us. We will only send you direct marketing communications where you have consented to us sending you direct marketing or
            otherwise in compliance with Applicable Laws.You may unsubscribe from any direct marketing communications at any time by clicking
             on the unsubscribe link that we include in every direct marketing communication, in your account settings on the Platform or by 
             contacting us and requesting us to do so. After you unsubscribe, we will not send you any direct marketing communications, 
             but we will continue to contact when necessary in connection with providing you with the Services or in connection with our business. 
        </p>
        <p>
            <b>10. SECURITY</b><br>
            We have implemented appropriate technical and organisational security measures designed to protect Personal Information against
             accidental or unlawful destruction, loss, alteration, disclosure, access and other unlawful or unauthorised forms of processing.
              These measures are in accordance with Applicable Law. The internet is an open and often vulnerable system and the transfer of
               information via the internet is not completely secure. Although we will implement all reasonable measures to protect Personal
                Information, we cannot guarantee the security of your Personal Information transferred to us using the internet. 
                Therefore, you acknowledge and agree that any transfer of Personal Information via the internet is at your own risk and you are 
                responsible for ensuring that any Personal Information that you send is sent securely.
        </p>
        <p>
            <b>14. RIGHT TO OBJECT</b><br>
            You may, on reasonable grounds, object to us using your Personal Information for certain purposes. If you object, we will stop 
            using your Personal Information, except if Applicable Law allows its use. To exercise this right or to discuss it with us, please 
            contact us at privacy@greatmindztutors.co.za. 
        </p>
        <p>
            <b>15. CHILDREN'S INFORMATION AND SPECIAL/SENSITIVE PERSONAL INFORMATION</b><br>
           We do not intentionally collect or use children's Personal Information for purposes other than providing the Services to Users that 
           are children without the consent of a parent or guardian of the child unless the User is capable of consenting to the processing of 
           his/her Personal Information in terms of the Applicable Laws in his/her jurisdiction. Similarly, we do not intentionally collect or 
           process special/sensitive Personal Information and will only do so with consent or if allowed by Applicable Law. We will only use the
           Personal Information of child Users for purposes of providing the Platform and Services to them in terms of the consent received or if
           there is a legal justification to use the Personal Information in terms of Applicable Laws.
        </p>
        <p>
           <b>16. QUALITY AND ACCESS TO YOUR INFORMATION</b><br>
            Quality:  We want to ensure that your Personal Information is accurate and up to date. You may ask us to correct or remove any
             Personal Information that you think is inaccurate, by sending us an email to info@greatmindztutors.co.za.<br>
             Access:  
             You have the right to request us to provide you with Personal Information that we hold about you. You must contact us directly to
              do so or send an email to info@greatmindztutors.co.za. This request may be subject to an access to information request in terms of
               Applicable Laws and may require you to verify your identity, identify the rights you are wishing to exercise and pay a fee.
               The right to access your Personal Information may further be limited in terms of Applicable Law.
        </p>

        <p>
            <b>17. RETENTION OF INFORMATION</b><br>
           We take every reasonable step to ensure that your Personal Information is only processed for the minimum period necessary for 
           the purposes set out in this Policy. We retain Personal Information in accordance with the required retention periods in Applicable
            Law or for legitimate business purposes. We will only retain your Personal Information for the purposes explicitly set out in this
             Policy. We may keep Personal Information indefinitely in a de-identified format for statistical purposes, which may include for 
             example statistics of how you use the Platform and Services.This Policy also applies when we retain your Personal Information.
           We may retain your Personal Information for the duration of any period necessary to establish, exercise or defend any legal rights.
        </p>
    </div>

    {% endblock %}