{% extends "base.html" %}
{% load static %}

    {% block content %}

    <div class="container" style="width:85%">
        <h1>GreatMindz Tutors Terms and Conditions</h1>
        <p class="p">
            <b>1. Introduction </b><br>
             These are the "Terms" that regulate your general use of
              <a href="#" style="text-decoration: none;">https://www.greatmindztutors.co.za</a> including all sub-domains of such websites 
              (the "Website"), and our relationship with you. These Terms create a legally binding contract between us,
               GreatMindz Tutors Proprietary Limited, trading as "GreatMindz Tutors", 
               and you, as soon as they apply. These Terms will apply if you access or use our Website as a 
               browser of the Website. If you become a customer of GreatMindz Tutors, our relationship with you as a customer
                will be governed by the <a href="{% url 'client_terms' %}" style="text-decoration: none;">"Client Terms And Conditions"</a> on our website. 
                If you become a tutor of GreatMindz Tutors,our relationship with you as a tutor will be governed by the
                 <a href="{% url 'tutor_terms' %}" style="text-decoration: none;">"Tutor Terms And Conditions"</a> on our website.
        </p>


        <p>
            <b>2. The essential point of these Terms</b><br>
             Your use of the Website is at your sole discretion and we have no obligations arising from your general
              use of the Website and we will not be liable for any liability, damage or loss resulting from your use or
               inability to use our Website. You should not act in a way that relies on any information found on our Website
                as all information is displayed for general information purposes only.
        </p>

        <p>
            <b>3. Other applicable terms</b><br>
            Your general use of the Website is also subject to our "Privacy Policy" which is available on the Website. 
            Additional terms may also apply for specific products or services available through our
             Website ("The Additional Terms"), including the Commercial Terms that are applicable to clients and tutors.
              If there is a conflict between these Terms and the Additional Terms, the Additional Terms will apply in so far
               as the Additional Terms are applicable to you.
        </p>

        <p>
           <b>4. Changes to our Website and/or these Terms</b><br>
            We have the right (as far as the law allows) to suspend, change or add to our Website, and to change or add
             to these Terms, at our discretion, and such changes will apply as soon as they are made. We may notify you about
              any changes to these Terms, but it is your responsibility to review these Terms each time you use the Websit
               to ensure that you are aware of any changes.
        </p>

        <p>
            <b>5. Use of our website</b><br>
            <p>You may not:</p>
            <ul>
                <li>distribute any content from our Website without our prior consent;</li>
                <li>use any technology, including but not limited to crawlers and spiders, to search our Website or obtain information from our Website;</li>
                <li>frame our Website or any pages of our Website;</li>
                <li>link to our Website in a manner other than through the homepage; or</li>
                <li>deep-link to any other pages on our Website in a way that would suggest that you own the intellectual property that belongs to us.</li>
            </ul>

    
        </p>

        <p>
            <b>6. Intellectual property</b><br>
            All content and material on the Website is owned by GreatMindz Tutors ("Intellectual Property"), and all right, title and 
            interest to and in any such Intellectual Property is proprietary to GreatMindz Tutors, unless otherwise noted. 
            You are not authorised to copy, reproduce, or use any content without our prior written consent.You will not acquire
             any rights of any nature in respect of that Intellectual Property by using our Website or services.

        </p>

        <p>
            <b>7. Cookies</b><br>
          When you use our Website, we may collect and process cookies.
          GreatMindz Tutors will only collect and process cookies in terms of the Privacy Policy.
        </p>

        <p>
            <b>8. Limited liability</b><br>
             GreatMindz Tutors is not responsible or liable for any harm, loss or damage suffered as a result of or relating to the
              Website, any personal information of any browser, or any information that is transmitted through the Website. 
              GreatMindz Tutors accepts no responsibility or liability for any harm, loss or damage that you may suffer due to any
              reliance on the content of the Website.We have taken reasonable measures to ensure the integrity of the Website 
              and its contents. However, we do not warrant that any files, software, downloads or other material available from
              the Website are free of viruses or other similar software.
        </p>

        <p>
            <b>9. Law and disputes</b><br>
           These Terms will be governed by and interpreted in terms of South African laws.
            You consent that the Magistrate's Court will have jurisdiction even if the proceedings are 
            otherwise beyond its jurisdiction.
        </p>

        <p>
            <b>10. Waiver</b><br>
           Any failure by GreatMindz Tutors to enforce or require strict performance of these Terms does not amount to a waiver
            of or affect the validity of these Terms.
        </p>

        <p>
            <b>11. Getting in touch</b><br>
            Please email us at info@greatmindztutors.co.za for any enquiries about our Website.
        </p>
        <p>
            <b>12. Legal disclosure</b><br> 
            <ul>
                <li>Website owner: <a href="#" style="text-decoration: none;">https://www.greatmindztutors.co.za</a> is owned by GreatMindz Tutors Pty Ltd</li>
                <li>Legal status</li>
                <li>Directors: TS Mosiane</li>
                <li>Description of main business of GreatMindz Tutors</li>
                <li>Website address: <a href="#" style="text-decoration: none;">https://www.greatmindztutors.co.za</a>  </li>
                <li>Address: 680 Pretorious Street, Acardia, Pretoria</li>
            </ul>
        </p>
    </div>

    {% endblock %}  